body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#carrinho {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#lista-produtos {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
